body{
  background-color: var(--light-color);
}
a {
  color: var(--link-color);
  text-decoration: none;
  
}

html {
    --primary-color: #c72727;
    --light-color: #f3f3f3;
    --dark-color: #333;
    --link-color: #333;

    --sports-color: #f99500;
    --arts-color: #a66bbe;
    --tech-color: #009cff;
    --science-color: #3bd142;
    --food-color: #d1483b;
  }
  .category-science{
    background-color: var(--science-color);

  }
  .category-food{
    background-color: var(--food-color);

  }
  .category-arts{
    background-color: var(--arts-color);
  }
  .category-sports{
    background-color: var(--sports-color);

  }
  .category-science{
    background-color: var(--science-color);

  }
  .category-tech{
    background-color: var(--tech-color);

  }
  .category{
    color: white;
    text-transform:uppercase;
    font-size: 9px;
    padding:4px 8px;
    border-radius: 10px;

  }

  img{
    width: 100%;
  }
  .articles{
    display: grid;
    grid-template-columns:1fr;
    grid-gap: 16px;

  }
  
 
  .articles article{
    background-color: white;
    padding: 16px;

  }
  .showcase{
    height:40vh;
    padding: 60px;
    background:url("../images/robot.jpg") center/cover;
  color: white;
  font-size: 26px;
  } 
h1{
font-size: 28px;
}
.showcase p{
  font-size: 20px;
  width: 50%;
}
.btn{
  background-color:var(--primary-color);
  color: white;
  border-radius: 10px;
  text-decoration: none;
  padding:8px 12px;

}
/*****************************************************nav bar***************************************************/

.nav-container img{
  width: 180px;
  
}
.nav-container{
  display: flex;
  background-color: white;
  padding: 18px;

}
.nav-container ul{
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
  justify-content:space-between;
}
.nav-container li{
  font-size:20px ;
font-weight: 600;

}
.nav-container a:hover{
  color: var(--primary-color);

}
/*****************************************************footer***************************************************/
.footer-container{
  background-color:var(--dark-color) ;
display: grid;
padding: 30px;
grid-gap: 32px;
grid-template-columns: 1fr ;
color: white;
}
.footer-container img{
  width: 150px;


}
.footer-container a{
  color: white;
  text-decoration: none;

}
.footer-container a:hover{
  color: var(--primary-color);

}
.footer-container input[type="email"] {
  padding:8px;
} 

@media screen and (min-width:600px) {
  .articles {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .footer-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .nav-container ul{
    flex-direction: row;
  }
}
